.header {
  width: 80vw;
  justify-content: space-between;
  margin: 50px auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  height: 100px;
}

.list-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  width: 50%;
  margin: auto 0;
}
