:root {
  --color-primary: #f7e018;
  --color-black-ground: #1b1b1b;
  --color-gray-1: #4e4e4e;
  --color-gray-2: #343434;
  --color-black: #1b1b1b;
  --color-white: #ffffff;
  --color-background: transparent;
  --font-primary: "Inter", sans-serif;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.d-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.div-center {
  margin: 0 auto;
}

.gap-20 {
  gap: 20px;
}

.marginbt-20 {
  margin-bottom: 20px;
}

.margintop-100 {
  margin-top: 150px;
}

.margintop-50 {
  margin-top: 100px;
}

.margintop-20 {
  margin-top: 50px;
}
