.main-profile {
  width: 70vw;
  margin-top: 9.375rem;
  gap: 9.375rem;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  text-align: center;
  gap: 40px;
}
