.div-card {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: max-content;
  overflow-y: hidden;
}

.card-project {
  // border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  height: max-content;
  padding: 10px;
  color: var(--color-black-ground);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

.siteImg {
  width: 95%;
  height: 250px;
  margin: 10px auto;
}

.techImg {
  width: 35px;
  height: 35px;
  margin: 0 10px;
}

.div-tech {
  align-items: end;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 10px 0;
}

@media (min-width: 1400px) {
  .div-card {
    display: flex;
    flex-direction: column;
  }

  .card-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
  }

  .siteImg {
    border: 1px solid transparent;
    border-radius: 8px;
  }
}
