.div-card {
  display: flex;
  flex-direction: row;
  width: 80vw;
  height: max-content;
  overflow-x: visible;
  overflow-y: hidden;
}

.card-project {
  width: clamp(450px, 5vw, 650px);
  border: 1px solid black;
  border-radius: 16px;
  height: max-content;
  padding: 10px;
  background-color: var(--color-black-ground);
  color: var(--color-white);
}

.siteImg {
  width: 90%;
  height: 200px;
  margin-top: 10%;
}

.techImg {
  width: 35px;
  height: 35px;
  margin: 0 10px;
}

.padding-card {
  padding: 0 20px;
}

.div-tech {
  align-items: end;
  margin: auto auto 50px auto;
}

@media (min-width: 1400px) {
  .div-card {
    display: flex;
    flex-direction: column;
  }

  .card-project {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 10px 0 0;

    width: 80%;
  }

  .siteImg {
    height: 100%;
    width: 400px;
    margin: 0;
    border: 1px solid transparent;
    border-radius: 16px;
  }
}
