.container-footer {
  padding: 40px 80px;
  background-color: var(--color-black-ground);
}

.list-footer {
  width: 80%;
}

.imgLinks {
  height: 50px;
  width: 50px;
}

.imgLinks.gmail {
  width: 80px;
}

.imgLinks.wpp {
  height: 80px;
}
