.container-footer {
  width: 100vw;
  padding: 20px 40px;
  background-color: var(--color-black-ground);
}

.itemProfile > img {
  height: 120px;
  width: 120px;
}
.list-footer {
  width: 100%;
}

.imgLinks {
  height: 50px;
  width: 50px;
}

@media (max-width: 768px) {
  .itemProfile {
    display: none;
  }
}

@media (min-width: 1024px) {
  .container-footer {
    padding: 10px 80px;
  }

  .list-footer {
    width: 90%;
  }
}
